* {
    margin: 0%;
    padding: 0%;
}

.nvbr {
  background-color: transparent;
  position: absolute;
  top: 0%;
}

.btn {
  text-transform: uppercase;
  background-color: #C9AB81!important;
}

.welcome {
  font-family: 'Dancing Script';
  color: #C9AB81;
  font-size: 2rem;
}

.food {
  font-family: 'Josefin Slab';
  font-size: 4rem;
  text-transform: uppercase;
}

body {
  background-color: black;
}

.food1 {
  font-family: 'Josefin Slab';
  font-size: 2.5rem;
  text-transform: uppercase;
}

.t34 {
  padding-top: 12%;
}